.mainHome {
  padding: 20px;
  background: rgb(255, 250, 250); 
  backdrop-filter: blur(10px);  
  color: black;
  min-height: 100vh;
  box-sizing: border-box;
  width: 100%;
  position: relative; 
  margin-top: 100px;
  place-items: center; 
  text-align: center;

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
  }
}